.container {
  width: 90%;
  margin: auto;
  margin-top: 1px;
  padding: 10px;
  background: #f3f3f3;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-family: Arial, sans-serif;
}

/* Buttons */
.top-buttons {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.start {
  background: green;
}

.start:disabled {
  background: gray;
  cursor: not-allowed;
}



.stop {
  background: red;
}


.stop:disabled {
  background: gray;
  cursor: not-allowed;
}

.reset {
  background:orange;
}

.top-buttons button {
  padding: 8px 16px;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

/* Inputs Row */
.row-3 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.input-group {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.input-group input,
.input-group select {
  padding: 6px;
  margin-top: 4px;
  border: 1px solid #bbb;
  border-radius: 4px;
}

/* TABLE with 6 columns */
.table-header {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  background: #ddd;
  padding: 10px;
  font-weight: bold;
  border-radius: 4px;
}

.table-row {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  padding: 10px;
  border-bottom: 1px solid #ccc;
  background: white;
}

.table-row:nth-child(even) {
  background: #f9f9f9;
}

/* Footer */
.footer-box {
  margin-top: 30px;
  padding: 1px;
  text-align: center;
  background: white;
  border-radius: 8px;
  border: 1px solid #ccc;
  display: flex;
  justify-content: space-around;
}
